header {
    background-color: #e50914;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: white;
}

nav {
    padding: 15px;
    text-align: center;
    background-color: #000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #e50914;
}

.hero {
    text-align: center;
    padding: 80px 20px;

    /* imagen de fundo sala de cine */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('https://montse-gj.github.io/apiMovies/img/sala_cine.jpg');
    background-size: cover;
    background-position: center;
}

/* Buscador peliculas */
.search-box {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

#search-input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.search-box button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

/* Estilo tarjeta movies */
#movies-section {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}


#movies-section article {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#movies-section article img {
    border-radius: 0.9rem;
    /* width: 94%;
    height: 320px; */
    object-fit: cover;
    padding: 10px;
}

#movies-section article h3 {
    margin: 10px 15px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3.5rem;
    line-height: 1.2;
}

/* Estilo de enlaces como botones */
.btn-ver,
.btn-desc {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    flex: 0.4;
    cursor: pointer;
    text-align: center;
}

.contenedor-botones {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.btn-ver {
    background-color: #e50914;

}

.btn-desc {
    background-color: #444;
}

/* button favorito */
article.movie-card {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;

    button.btn-borrar {

        color: white;
        padding: 8px 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        flex: 0.4;
        cursor: pointer;
        justify-content: center;
        background-color: #e50914;
        border-block: none;
        border-left: none;
        border-right: none;

    }

}

/*Pie de página*/
footer {
    background-color: #000;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    color: #666;
}

.description__link {
    margin-top: auto;
    align-self: flex-start;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #f30505;
    color: #fcf7f7;
}

.description__rating {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
}

.btn-fav-selec {
    background-color: blue;
}

.nav-pag-ant {
    visibility: hidden;
}

.section-paginacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2em;
    padding-right: 3em;
    padding-left: 3em;
}

.section-paginacion a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease;
}

.section-volver {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease;
    text-align: center;
    display: block;
}

.section-paginacion a:hover {
    transform: scale(1.1);
}